body {
    margin: 0;
    height: 100vh;
    display: flex;
    color: white;
}
.left {
    width: 25%;
    background: #111;
    color: white;
}
.center { 
    width: 50%;
    background: #222;
    color: white;
    text-align: center;
    
}
.right { 
    width: 25%;
    background: #111;
    color: white;
}